<div class="root">
  <mat-card class="card">
    <mat-card-title class="title-box">
      <span class="title">用户列表</span>
      <button mat-icon-button (click)="syncUsers()">
        <mat-icon>sync</mat-icon>
      </button>
      <button mat-icon-button routerLink="add">
        <mat-icon>person_add</mat-icon>
      </button>
    </mat-card-title>
    <div>
      <table style="width: 100%">
        <tr>
          <th>用户名</th>
          <th>车牌号</th>
          <th>电话</th>
          <th>余额</th>
          <th style="width: 100px">操作</th>
        </tr>
        <tr *ngFor="let student of users">
          <td><div class="align-center">{{student.name}}</div></td>
          <td><div class="align-center">{{student.car}}</div></td>
          <td><div class="align-center">{{student.tel?student.tel:'N/A'}}</div></td>
          <td><div class="align-center">{{student.credit}}</div></td>
          <td><div class="align-center">
            <button mat-icon-button [routerLink]="['edit', student.id]">
              <mat-icon>edit</mat-icon>
            </button>
            <span style="width: 5px"></span>
            <button mat-icon-button (click)="remove(student)">
              <mat-icon>delete</mat-icon>
            </button>
          </div></td>
        </tr>
      </table>
      <br>
    </div>
  </mat-card>
</div>
