.root {
  display: flex;
  justify-content: center;
}

.card {
  max-width: 300px;
  width: 100%;
  margin: 20px;
}

.align-center {
  display: flex;
  justify-content: center;
}

.title-id {
  font-size: 18px;
  color: gray;
  margin-left: 10px;
}

.item {
  height: 32px;
}
