<div class="root">
  <mat-card class="card">
    <mat-card-title class="title-box">
      <span class="title">停车场概况</span>
      <button mat-icon-button (click)="syncStudents()">
        <mat-icon>sync</mat-icon>
      </button>
      <button mat-icon-button routerLink="add">
        <mat-icon>person_add</mat-icon>
      </button>
    </mat-card-title>
    <div>
      <table style="width: 100%">
        <tr>
          <th>用户名</th>
          <th>车牌号</th>
          <th>时长</th>
          <th>费用</th>
          <th style="width: 100px">操作</th>
        </tr>
        <tr *ngFor="let user of users">
          <td><div class="align-center">{{user.name}}</div></td>
          <td><div class="align-center">{{user.car}}</div></td>
          <td><div class="align-center">{{user.enterTime | date}}</div></td>
          <td><div class="align-center">{{(time-user.enterTime)/3600000*price}}</div></td>
          <td><div class="align-center">
            <button mat-icon-button [routerLink]="['../users/edit', user.id]">
              <mat-icon>edit</mat-icon>
            </button>
            <span style="width: 5px"></span>
            <button mat-icon-button (click)="remove(user)">
              <mat-icon>delete</mat-icon>
            </button>
          </div></td>
        </tr>
      </table>
      <div class="info" *ngIf="!users.length"><br>暂无用户</div>
      <br>
    </div>
  </mat-card>
</div>
